.palo {
    background-color: black;
    width: 10px;
    height: 100px;
    margin-left: 695px;
}
.Semaforo {
    background: black;
    padding: 10px;
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 40rem;
    max-width: fit-content;
}
.green {
    background-color: green;
    width: 100px;
	height: 100px;
    
}
.yellow {
    background-color: yellow;
    margin-top: 10px;
    width: 100px;
	height: 100px;
}
.red {
    background-color: red;
    margin-top: 10px;
    width: 100px;
	height: 100px;
}
