.palo {
    background-color: black;
    width: 10px;
    height: 100px;
    margin-left: 55px;
}

.Semaforo {
    background: black;
    padding: 10px;
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: green;
}
.greenOff {
    background-color: blueviolet;
}
.yellow {
    background-color: yellow;
}
.yellowOff {
    background-color: blueviolet;
}
.red {
    background-color: red;
}
.redOff {
    background-color: blueviolet;
}