.trafficTop {
    text-align: center;
}

.container {
   
    font-size: 60px;
    color: white;
    background: black;
    display: inline-block;
    line-height: 60px;
    padding: 10px;
}

.green {
    background-color: green;
}
.greenOff {
    background-color: blueviolet;
}
